.uncheck {
    border: 1px solid red;
    background-color: red;
}

.check {
    background-color: green;
    border: 1px solid green;
}

.checkbox {
    width: 25px;
    height: 25px;
    color: white;
}